name: E-Commerce Automation CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-suite:
    runs-on: ubuntu-latest

    steps:
 
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright Browsers
        run: playwright install chromium


      - name: Run E2E Tests
        env:
          PYTHONPATH: .
        run: pytest

      - name: Upload Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.html
